.RainAnimationBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 3;
  .stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 36px 1243px #fff, 1364px 1674px #fff, 276px 12px #fff,
      571px 1739px #fff, 593px 1896px #fff, 463px 320px #fff, 1361px 1403px #fff,
      1591px 748px #fff, 363px 842px #fff, 528px 1366px #fff, 234px 374px #fff,
      1321px 527px #fff, 223px 486px #fff, 335px 1770px #fff, 1805px 302px #fff,
      1706px 1346px #fff, 1725px 1612px #fff, 1053px 309px #fff,
      1885px 341px #fff, 525px 768px #fff, 465px 108px #fff, 50px 1749px #fff,
      1149px 395px #fff, 888px 1652px #fff, 369px 1731px #fff, 940px 392px #fff,
      1946px 1864px #fff, 1429px 119px #fff, 1842px 1652px #fff,
      1550px 1425px #fff, 1265px 1058px #fff, 466px 69px #fff, 602px 1691px #fff,
      538px 753px #fff, 710px 759px #fff, 676px 1409px #fff, 316px 692px #fff,
      667px 1157px #fff, 1152px 1000px #fff, 1797px 1696px #fff,
      919px 528px #fff, 1820px 486px #fff, 798px 770px #fff, 1910px 1562px #fff,
      918px 804px #fff, 339px 1835px #fff, 178px 206px #fff, 1124px 1232px #fff,
      469px 1845px #fff, 1654px 1009px #fff, 627px 689px #fff, 1121px 78px #fff,
      1866px 1876px #fff, 805px 1982px #fff, 255px 228px #fff, 1428px 402px #fff,
      1950px 1084px #fff, 1128px 658px #fff, 89px 841px #fff, 1883px 1317px #fff,
      1352px 1055px #fff, 1572px 1648px #fff, 1981px 311px #fff,
      1045px 1322px #fff, 1699px 162px #fff, 1925px 22px #fff, 696px 1668px #fff,
      767px 714px #fff, 1083px 86px #fff, 443px 1917px #fff, 1777px 107px #fff,
      1482px 867px #fff, 1324px 675px #fff, 212px 1612px #fff, 1242px 886px #fff,
      91px 701px #fff, 695px 1047px #fff, 983px 412px #fff, 584px 783px #fff,
      899px 326px #fff, 1995px 380px #fff, 1737px 1720px #fff, 165px 168px #fff,
      1px 735px #fff, 1435px 978px #fff, 1150px 313px #fff, 298px 1404px #fff,
      1288px 1008px #fff, 569px 1348px #fff, 1823px 643px #fff, 98px 1088px #fff,
      87px 301px #fff, 1390px 738px #fff, 1747px 1474px #fff, 1853px 1605px #fff,
      1421px 1645px #fff, 1161px 1292px #fff, 1377px 385px #fff,
      1864px 70px #fff, 1023px 1135px #fff, 1536px 1792px #fff,
      1358px 1742px #fff, 1223px 706px #fff, 183px 1163px #fff, 981px 96px #fff,
      1826px 1616px #fff, 1437px 1887px #fff, 479px 137px #fff,
      1067px 497px #fff, 1771px 1483px #fff, 18px 1404px #fff, 322px 697px #fff,
      1375px 288px #fff, 1861px 1993px #fff, 1358px 686px #fff,
      1795px 148px #fff, 669px 931px #fff, 1071px 984px #fff, 1202px 1964px #fff,
      611px 1979px #fff, 337px 1077px #fff, 382px 1739px #fff, 354px 491px #fff,
      143px 1362px #fff, 1327px 840px #fff, 676px 340px #fff, 588px 396px #fff,
      181px 458px #fff, 957px 187px #fff, 296px 1920px #fff, 1071px 1467px #fff,
      191px 52px #fff, 140px 687px #fff, 1446px 1285px #fff, 878px 570px #fff,
      1714px 1875px #fff, 1696px 399px #fff, 1690px 1695px #fff,
      108px 736px #fff, 337px 1720px #fff, 1765px 1294px #fff, 781px 683px #fff,
      112px 346px #fff, 1139px 1533px #fff, 1423px 1114px #fff,
      1139px 1896px #fff, 56px 1854px #fff, 1166px 569px #fff, 347px 999px #fff,
      401px 117px #fff, 1334px 1045px #fff, 620px 802px #fff, 1026px 1226px #fff,
      858px 533px #fff, 327px 567px #fff, 1536px 686px #fff, 449px 1186px #fff,
      799px 217px #fff, 1264px 224px #fff, 136px 3px #fff, 1128px 1486px #fff,
      468px 1730px #fff, 268px 1937px #fff, 649px 1756px #fff, 1369px 597px #fff,
      162px 1841px #fff, 896px 1829px #fff, 1593px 356px #fff, 1406px 491px #fff,
      143px 936px #fff, 1243px 394px #fff, 1855px 1467px #fff, 487px 973px #fff,
      1250px 1393px #fff, 678px 1072px #fff, 1516px 367px #fff, 987px 400px #fff,
      1085px 1161px #fff, 668px 1745px #fff, 356px 433px #fff, 1362px 754px #fff,
      96px 790px #fff, 770px 1161px #fff, 574px 716px #fff, 1056px 275px #fff,
      642px 114px #fff, 1339px 710px #fff, 1189px 755px #fff, 281px 1637px #fff,
      1132px 711px #fff, 1521px 1345px #fff, 1274px 870px #fff, 165px 997px #fff,
      542px 165px #fff, 408px 219px #fff, 604px 19px #fff, 1568px 1942px #fff,
      202px 1161px #fff, 411px 563px #fff, 398px 789px #fff, 135px 1425px #fff,
      420px 631px #fff, 759px 1070px #fff, 370px 866px #fff, 472px 457px #fff,
      1200px 471px #fff, 1643px 349px #fff, 1139px 998px #fff, 1449px 520px #fff,
      131px 96px #fff, 1330px 1527px #fff, 37px 707px #fff, 1111px 571px #fff,
      147px 1469px #fff, 269px 1763px #fff, 1988px 1527px #fff,
      1120px 1924px #fff, 78px 1688px #fff, 1232px 570px #fff,
      1487px 1478px #fff, 1670px 402px #fff, 1999px 399px #fff,
      1140px 1396px #fff, 1432px 533px #fff, 1548px 1997px #fff,
      871px 407px #fff, 1070px 1044px #fff, 1280px 978px #fff, 369px 1393px #fff,
      1941px 147px #fff, 103px 163px #fff, 977px 1187px #fff, 1606px 429px #fff,
      1734px 215px #fff, 448px 639px #fff, 221px 927px #fff, 1914px 1070px #fff,
      1132px 1738px #fff, 1702px 469px #fff, 638px 1223px #fff,
      1230px 868px #fff, 1666px 1511px #fff, 1047px 1681px #fff,
      1392px 739px #fff, 115px 445px #fff, 1084px 592px #fff, 1911px 1068px #fff,
      826px 664px #fff, 1104px 799px #fff, 85px 1822px #fff, 364px 1853px #fff,
      1745px 478px #fff, 993px 515px #fff, 1585px 884px #fff, 1357px 448px #fff,
      684px 275px #fff, 546px 304px #fff, 696px 13px #fff, 1104px 64px #fff,
      324px 230px #fff, 959px 850px #fff, 1619px 1358px #fff, 1721px 1467px #fff,
      1872px 988px #fff, 175px 496px #fff, 1181px 424px #fff, 905px 508px #fff,
      1177px 367px #fff, 42px 210px #fff, 1270px 820px #fff, 1949px 346px #fff,
      1223px 1970px #fff, 1327px 1514px #fff, 1180px 1995px #fff,
      1714px 1877px #fff, 1854px 484px #fff, 59px 1236px #fff,
      1369px 1573px #fff, 313px 37px #fff, 1666px 1768px #fff, 1939px 656px #fff,
      345px 2px #fff, 1053px 801px #fff, 42px 983px #fff, 1626px 999px #fff,
      1566px 234px #fff, 230px 1294px #fff, 431px 1048px #fff, 688px 465px #fff,
      1777px 128px #fff, 209px 397px #fff, 680px 572px #fff, 489px 1749px #fff,
      771px 1289px #fff, 1771px 20px #fff, 1297px 1149px #fff, 778px 303px #fff,
      1974px 1079px #fff, 1590px 1729px #fff, 490px 1086px #fff,
      599px 413px #fff, 1561px 984px #fff, 771px 710px #fff, 1240px 1188px #fff,
      1079px 693px #fff, 267px 1810px #fff, 1594px 586px #fff, 1163px 702px #fff,
      856px 1585px #fff, 742px 904px #fff, 1440px 1705px #fff, 86px 1849px #fff,
      1649px 1914px #fff, 121px 1595px #fff, 1212px 1439px #fff,
      681px 1502px #fff, 981px 386px #fff, 405px 601px #fff, 815px 1229px #fff,
      869px 712px #fff, 942px 302px #fff, 1883px 1417px #fff, 1656px 1071px #fff,
      1055px 1057px #fff, 360px 1230px #fff, 445px 724px #fff, 863px 1903px #fff,
      1696px 620px #fff, 76px 201px #fff, 1688px 256px #fff, 1984px 769px #fff,
      1799px 1875px #fff, 1415px 289px #fff, 1423px 1216px #fff,
      590px 284px #fff, 707px 1364px #fff, 1445px 277px #fff, 1706px 1607px #fff,
      689px 1828px #fff, 665px 784px #fff, 179px 1717px #fff, 316px 1071px #fff,
      275px 244px #fff, 3px 1945px #fff, 1197px 1600px #fff, 123px 1860px #fff,
      144px 601px #fff, 1994px 392px #fff, 314px 1797px #fff, 1213px 1025px #fff,
      1438px 1617px #fff, 1254px 885px #fff, 1301px 934px #fff,
      1679px 1271px #fff, 1700px 1284px #fff, 188px 1154px #fff, 412px 30px #fff,
      62px 607px #fff, 1392px 652px #fff, 1442px 520px #fff, 1418px 498px #fff,
      56px 684px #fff, 1432px 1638px #fff, 742px 731px #fff, 181px 922px #fff,
      271px 771px #fff, 440px 1276px #fff, 1109px 1337px #fff, 1075px 405px #fff,
      1115px 1835px #fff, 1369px 1669px #fff, 1908px 1192px #fff,
      245px 1157px #fff, 1462px 1134px #fff, 1773px 1378px #fff,
      1207px 1678px #fff, 832px 1983px #fff, 341px 1924px #fff,
      1469px 1910px #fff, 1993px 751px #fff, 272px 297px #fff, 638px 25px #fff,
      1010px 538px #fff, 39px 100px #fff, 1145px 1789px #fff, 534px 208px #fff,
      44px 1747px #fff, 579px 1312px #fff, 951px 473px #fff, 295px 538px #fff,
      729px 358px #fff, 1900px 456px #fff, 1652px 133px #fff, 919px 1532px #fff,
      1012px 368px #fff, 619px 606px #fff, 843px 620px #fff, 101px 1043px #fff,
      416px 800px #fff, 42px 841px #fff, 1466px 1267px #fff, 345px 1563px #fff,
      684px 1706px #fff, 288px 2px #fff, 747px 397px #fff, 519px 1405px #fff,
      1313px 748px #fff, 490px 1605px #fff, 278px 1108px #fff, 1239px 50px #fff,
      68px 342px #fff, 746px 441px #fff, 210px 1275px #fff, 1546px 1983px #fff,
      1784px 243px #fff, 303px 1009px #fff, 516px 397px #fff, 1177px 1988px #fff,
      63px 1521px #fff, 15px 824px #fff, 1578px 517px #fff, 1380px 1208px #fff,
      117px 538px #fff, 1820px 1250px #fff, 1678px 182px #fff, 638px 262px #fff,
      1685px 220px #fff, 1868px 746px #fff, 372px 1108px #fff, 1981px 666px #fff,
      1328px 770px #fff, 890px 1602px #fff, 308px 475px #fff, 1284px 1770px #fff,
      1241px 1552px #fff, 707px 198px #fff, 1908px 495px #fff, 1614px 559px #fff,
      971px 406px #fff, 1064px 749px #fff, 1383px 1339px #fff, 83px 1144px #fff,
      962px 1580px #fff, 200px 200px #fff, 83px 250px #fff, 485px 914px #fff,
      806px 1335px #fff, 434px 1393px #fff, 118px 1952px #fff, 460px 1472px #fff,
      1388px 17px #fff, 756px 1368px #fff, 157px 989px #fff, 356px 1597px #fff,
      432px 1058px #fff, 797px 1418px #fff, 1291px 385px #fff,
      1182px 1703px #fff, 1041px 695px #fff, 1019px 43px #fff, 1907px 199px #fff,
      1214px 530px #fff, 1264px 1105px #fff, 1770px 883px #fff, 487px 802px #fff,
      1881px 841px #fff, 76px 535px #fff, 244px 1963px #fff, 1647px 585px #fff,
      1253px 1912px #fff, 368px 901px #fff, 1976px 163px #fff, 554px 626px #fff,
      1706px 748px #fff, 794px 1931px #fff, 576px 388px #fff, 1289px 1561px #fff,
      1450px 651px #fff, 150px 769px #fff, 222px 1904px #fff, 1565px 538px #fff,
      424px 1701px #fff, 489px 27px #fff, 1551px 49px #fff, 592px 624px #fff,
      1077px 1983px #fff, 1246px 186px #fff, 1162px 120px #fff,
      1089px 576px #fff, 3px 1099px #fff, 338px 1122px #fff, 277px 693px #fff,
      312px 1232px #fff, 1266px 1197px #fff, 1296px 1735px #fff,
      1180px 581px #fff, 589px 141px #fff, 982px 978px #fff, 22px 1843px #fff,
      1019px 1352px #fff, 1322px 1066px #fff, 266px 941px #fff, 655px 637px #fff,
      989px 1602px #fff, 908px 1819px #fff, 180px 8px #fff, 1297px 1441px #fff,
      655px 313px #fff, 750px 860px #fff, 1467px 1570px #fff, 210px 587px #fff,
      1379px 804px #fff, 1064px 519px #fff, 1411px 1328px #fff,
      1932px 1576px #fff, 23px 325px #fff, 256px 1753px #fff, 887px 385px #fff,
      1953px 1090px #fff, 1728px 1740px #fff, 665px 930px #fff, 794px 273px #fff,
      103px 304px #fff, 1882px 1631px #fff, 882px 58px #fff, 1845px 1798px #fff,
      744px 1162px #fff, 1576px 1884px #fff, 1855px 1651px #fff,
      704px 1134px #fff, 429px 1754px #fff, 471px 330px #fff, 372px 784px #fff,
      1452px 1907px #fff, 1986px 1425px #fff, 1320px 1340px #fff,
      1687px 435px #fff, 1359px 222px #fff, 2px 1248px #fff, 1411px 345px #fff,
      608px 1413px #fff, 119px 330px #fff, 684px 1176px #fff, 102px 769px #fff,
      1715px 1139px #fff, 1065px 1021px #fff, 384px 1250px #fff,
      470px 1059px #fff, 1548px 1970px #fff, 1835px 1871px #fff,
      127px 819px #fff, 1711px 1208px #fff, 1574px 861px #fff, 358px 1204px #fff,
      631px 1832px #fff, 831px 789px #fff, 410px 820px #fff, 317px 831px #fff,
      409px 810px #fff, 1369px 212px #fff, 1120px 440px #fff, 1924px 1175px #fff,
      1474px 569px #fff, 1053px 1233px #fff, 411px 1135px #fff, 412px 774px #fff,
      959px 1599px #fff, 1063px 1617px #fff, 1992px 1409px #fff,
      67px 1993px #fff, 1550px 1262px #fff, 783px 1503px #fff, 1415px 618px #fff,
      1509px 1306px #fff, 1372px 1737px #fff, 790px 1119px #fff,
      698px 1990px #fff, 191px 1548px #fff, 1614px 1005px #fff, 310px 517px #fff,
      1410px 1488px #fff, 581px 1740px #fff, 1878px 253px #fff, 11px 1361px #fff,
      1814px 479px #fff, 195px 1665px #fff, 348px 501px #fff, 1452px 389px #fff,
      304px 1511px #fff, 1026px 1275px #fff, 639px 1162px #fff,
      1839px 1651px #fff, 152px 1562px #fff, 1521px 1484px #fff,
      1117px 579px #fff, 1985px 544px #fff, 509px 1516px #fff, 444px 840px #fff,
      1109px 1126px #fff, 706px 1640px #fff, 65px 570px #fff, 1688px 798px #fff,
      573px 1570px #fff, 1970px 94px #fff, 359px 1501px #fff, 43px 247px #fff,
      945px 1604px #fff, 1622px 354px #fff, 1452px 1976px #fff,
      1833px 1943px #fff, 63px 1197px #fff, 87px 365px #fff, 1522px 722px #fff,
      247px 1455px #fff, 142px 1800px #fff, 1854px 1321px #fff, 60px 792px #fff,
      1159px 1798px #fff, 1631px 662px #fff, 596px 1429px #fff,
      1587px 1262px #fff, 1761px 1158px #fff, 1980px 605px #fff,
      1855px 109px #fff, 1202px 1321px #fff, 1690px 1682px #fff,
      669px 353px #fff, 661px 83px #fff, 1625px 648px #fff, 630px 1930px #fff,
      868px 1858px #fff, 564px 1528px #fff, 1272px 1098px #fff, 733px 434px #fff,
      654px 57px #fff, 1379px 1162px #fff, 388px 425px #fff, 614px 1645px #fff,
      1425px 1949px #fff, 1025px 333px #fff, 163px 943px #fff, 1941px 453px #fff,
      652px 926px #fff, 1553px 962px #fff, 1442px 340px #fff, 1881px 175px #fff,
      555px 917px #fff, 49px 1438px #fff, 1889px 812px #fff, 1293px 1662px #fff,
      814px 986px #fff, 1330px 1309px #fff, 368px 1996px #fff, 524px 1948px #fff,
      899px 1197px #fff, 647px 458px #fff, 1219px 1365px #fff, 1073px 459px #fff,
      234px 492px #fff, 282px 97px #fff, 562px 163px #fff, 904px 1073px #fff,
      554px 1569px #fff, 24px 581px #fff, 1775px 1224px #fff, 1101px 1056px #fff,
      660px 786px #fff, 832px 546px #fff, 691px 619px #fff, 838px 1102px #fff,
      129px 1102px #fff, 1038px 471px #fff, 650px 644px #fff, 824px 438px #fff,
      1136px 1145px #fff, 859px 426px #fff, 534px 7px #fff, 688px 1826px #fff,
      938px 1403px #fff, 1584px 1679px #fff, 1244px 765px #fff,
      1807px 606px #fff, 988px 226px #fff, 1082px 1187px #fff, 1329px 916px #fff,
      755px 1912px #fff, 1869px 1173px #fff, 66px 884px #fff, 1437px 847px #fff,
      1468px 1339px #fff, 1284px 1622px #fff, 984px 1688px #fff,
      693px 1581px #fff, 248px 1079px #fff, 813px 1219px #fff, 1990px 959px #fff,
      1997px 1412px #fff, 1177px 1429px #fff, 1627px 851px #fff,
      1178px 329px #fff;
    animation: animStar 50s linear infinite;

    &::after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;

      box-shadow: 36px 1243px #fff, 1364px 1674px #fff, 276px 12px #fff,
        571px 1739px #fff, 593px 1896px #fff, 463px 320px #fff,
        1361px 1403px #fff, 1591px 748px #fff, 363px 842px #fff,
        528px 1366px #fff, 234px 374px #fff, 1321px 527px #fff, 223px 486px #fff,
        335px 1770px #fff, 1805px 302px #fff, 1706px 1346px #fff,
        1725px 1612px #fff, 1053px 309px #fff, 1885px 341px #fff,
        525px 768px #fff, 465px 108px #fff, 50px 1749px #fff, 1149px 395px #fff,
        888px 1652px #fff, 369px 1731px #fff, 940px 392px #fff,
        1946px 1864px #fff, 1429px 119px #fff, 1842px 1652px #fff,
        1550px 1425px #fff, 1265px 1058px #fff, 466px 69px #fff,
        602px 1691px #fff, 538px 753px #fff, 710px 759px #fff, 676px 1409px #fff,
        316px 692px #fff, 667px 1157px #fff, 1152px 1000px #fff,
        1797px 1696px #fff, 919px 528px #fff, 1820px 486px #fff,
        798px 770px #fff, 1910px 1562px #fff, 918px 804px #fff,
        339px 1835px #fff, 178px 206px #fff, 1124px 1232px #fff,
        469px 1845px #fff, 1654px 1009px #fff, 627px 689px #fff,
        1121px 78px #fff, 1866px 1876px #fff, 805px 1982px #fff,
        255px 228px #fff, 1428px 402px #fff, 1950px 1084px #fff,
        1128px 658px #fff, 89px 841px #fff, 1883px 1317px #fff,
        1352px 1055px #fff, 1572px 1648px #fff, 1981px 311px #fff,
        1045px 1322px #fff, 1699px 162px #fff, 1925px 22px #fff,
        696px 1668px #fff, 767px 714px #fff, 1083px 86px #fff, 443px 1917px #fff,
        1777px 107px #fff, 1482px 867px #fff, 1324px 675px #fff,
        212px 1612px #fff, 1242px 886px #fff, 91px 701px #fff, 695px 1047px #fff,
        983px 412px #fff, 584px 783px #fff, 899px 326px #fff, 1995px 380px #fff,
        1737px 1720px #fff, 165px 168px #fff, 1px 735px #fff, 1435px 978px #fff,
        1150px 313px #fff, 298px 1404px #fff, 1288px 1008px #fff,
        569px 1348px #fff, 1823px 643px #fff, 98px 1088px #fff, 87px 301px #fff,
        1390px 738px #fff, 1747px 1474px #fff, 1853px 1605px #fff,
        1421px 1645px #fff, 1161px 1292px #fff, 1377px 385px #fff,
        1864px 70px #fff, 1023px 1135px #fff, 1536px 1792px #fff,
        1358px 1742px #fff, 1223px 706px #fff, 183px 1163px #fff,
        981px 96px #fff, 1826px 1616px #fff, 1437px 1887px #fff,
        479px 137px #fff, 1067px 497px #fff, 1771px 1483px #fff,
        18px 1404px #fff, 322px 697px #fff, 1375px 288px #fff,
        1861px 1993px #fff, 1358px 686px #fff, 1795px 148px #fff,
        669px 931px #fff, 1071px 984px #fff, 1202px 1964px #fff,
        611px 1979px #fff, 337px 1077px #fff, 382px 1739px #fff,
        354px 491px #fff, 143px 1362px #fff, 1327px 840px #fff, 676px 340px #fff,
        588px 396px #fff, 181px 458px #fff, 957px 187px #fff, 296px 1920px #fff,
        1071px 1467px #fff, 191px 52px #fff, 140px 687px #fff,
        1446px 1285px #fff, 878px 570px #fff, 1714px 1875px #fff,
        1696px 399px #fff, 1690px 1695px #fff, 108px 736px #fff,
        337px 1720px #fff, 1765px 1294px #fff, 781px 683px #fff,
        112px 346px #fff, 1139px 1533px #fff, 1423px 1114px #fff,
        1139px 1896px #fff, 56px 1854px #fff, 1166px 569px #fff,
        347px 999px #fff, 401px 117px #fff, 1334px 1045px #fff, 620px 802px #fff,
        1026px 1226px #fff, 858px 533px #fff, 327px 567px #fff,
        1536px 686px #fff, 449px 1186px #fff, 799px 217px #fff,
        1264px 224px #fff, 136px 3px #fff, 1128px 1486px #fff, 468px 1730px #fff,
        268px 1937px #fff, 649px 1756px #fff, 1369px 597px #fff,
        162px 1841px #fff, 896px 1829px #fff, 1593px 356px #fff,
        1406px 491px #fff, 143px 936px #fff, 1243px 394px #fff,
        1855px 1467px #fff, 487px 973px #fff, 1250px 1393px #fff,
        678px 1072px #fff, 1516px 367px #fff, 987px 400px #fff,
        1085px 1161px #fff, 668px 1745px #fff, 356px 433px #fff,
        1362px 754px #fff, 96px 790px #fff, 770px 1161px #fff, 574px 716px #fff,
        1056px 275px #fff, 642px 114px #fff, 1339px 710px #fff,
        1189px 755px #fff, 281px 1637px #fff, 1132px 711px #fff,
        1521px 1345px #fff, 1274px 870px #fff, 165px 997px #fff,
        542px 165px #fff, 408px 219px #fff, 604px 19px #fff, 1568px 1942px #fff,
        202px 1161px #fff, 411px 563px #fff, 398px 789px #fff, 135px 1425px #fff,
        420px 631px #fff, 759px 1070px #fff, 370px 866px #fff, 472px 457px #fff,
        1200px 471px #fff, 1643px 349px #fff, 1139px 998px #fff,
        1449px 520px #fff, 131px 96px #fff, 1330px 1527px #fff, 37px 707px #fff,
        1111px 571px #fff, 147px 1469px #fff, 269px 1763px #fff,
        1988px 1527px #fff, 1120px 1924px #fff, 78px 1688px #fff,
        1232px 570px #fff, 1487px 1478px #fff, 1670px 402px #fff,
        1999px 399px #fff, 1140px 1396px #fff, 1432px 533px #fff,
        1548px 1997px #fff, 871px 407px #fff, 1070px 1044px #fff,
        1280px 978px #fff, 369px 1393px #fff, 1941px 147px #fff,
        103px 163px #fff, 977px 1187px #fff, 1606px 429px #fff,
        1734px 215px #fff, 448px 639px #fff, 221px 927px #fff,
        1914px 1070px #fff, 1132px 1738px #fff, 1702px 469px #fff,
        638px 1223px #fff, 1230px 868px #fff, 1666px 1511px #fff,
        1047px 1681px #fff, 1392px 739px #fff, 115px 445px #fff,
        1084px 592px #fff, 1911px 1068px #fff, 826px 664px #fff,
        1104px 799px #fff, 85px 1822px #fff, 364px 1853px #fff,
        1745px 478px #fff, 993px 515px #fff, 1585px 884px #fff,
        1357px 448px #fff, 684px 275px #fff, 546px 304px #fff, 696px 13px #fff,
        1104px 64px #fff, 324px 230px #fff, 959px 850px #fff, 1619px 1358px #fff,
        1721px 1467px #fff, 1872px 988px #fff, 175px 496px #fff,
        1181px 424px #fff, 905px 508px #fff, 1177px 367px #fff, 42px 210px #fff,
        1270px 820px #fff, 1949px 346px #fff, 1223px 1970px #fff,
        1327px 1514px #fff, 1180px 1995px #fff, 1714px 1877px #fff,
        1854px 484px #fff, 59px 1236px #fff, 1369px 1573px #fff, 313px 37px #fff,
        1666px 1768px #fff, 1939px 656px #fff, 345px 2px #fff, 1053px 801px #fff,
        42px 983px #fff, 1626px 999px #fff, 1566px 234px #fff, 230px 1294px #fff,
        431px 1048px #fff, 688px 465px #fff, 1777px 128px #fff, 209px 397px #fff,
        680px 572px #fff, 489px 1749px #fff, 771px 1289px #fff, 1771px 20px #fff,
        1297px 1149px #fff, 778px 303px #fff, 1974px 1079px #fff,
        1590px 1729px #fff, 490px 1086px #fff, 599px 413px #fff,
        1561px 984px #fff, 771px 710px #fff, 1240px 1188px #fff,
        1079px 693px #fff, 267px 1810px #fff, 1594px 586px #fff,
        1163px 702px #fff, 856px 1585px #fff, 742px 904px #fff,
        1440px 1705px #fff, 86px 1849px #fff, 1649px 1914px #fff,
        121px 1595px #fff, 1212px 1439px #fff, 681px 1502px #fff,
        981px 386px #fff, 405px 601px #fff, 815px 1229px #fff, 869px 712px #fff,
        942px 302px #fff, 1883px 1417px #fff, 1656px 1071px #fff,
        1055px 1057px #fff, 360px 1230px #fff, 445px 724px #fff,
        863px 1903px #fff, 1696px 620px #fff, 76px 201px #fff, 1688px 256px #fff,
        1984px 769px #fff, 1799px 1875px #fff, 1415px 289px #fff,
        1423px 1216px #fff, 590px 284px #fff, 707px 1364px #fff,
        1445px 277px #fff, 1706px 1607px #fff, 689px 1828px #fff,
        665px 784px #fff, 179px 1717px #fff, 316px 1071px #fff, 275px 244px #fff,
        3px 1945px #fff, 1197px 1600px #fff, 123px 1860px #fff, 144px 601px #fff,
        1994px 392px #fff, 314px 1797px #fff, 1213px 1025px #fff,
        1438px 1617px #fff, 1254px 885px #fff, 1301px 934px #fff,
        1679px 1271px #fff, 1700px 1284px #fff, 188px 1154px #fff,
        412px 30px #fff, 62px 607px #fff, 1392px 652px #fff, 1442px 520px #fff,
        1418px 498px #fff, 56px 684px #fff, 1432px 1638px #fff, 742px 731px #fff,
        181px 922px #fff, 271px 771px #fff, 440px 1276px #fff,
        1109px 1337px #fff, 1075px 405px #fff, 1115px 1835px #fff,
        1369px 1669px #fff, 1908px 1192px #fff, 245px 1157px #fff,
        1462px 1134px #fff, 1773px 1378px #fff, 1207px 1678px #fff,
        832px 1983px #fff, 341px 1924px #fff, 1469px 1910px #fff,
        1993px 751px #fff, 272px 297px #fff, 638px 25px #fff, 1010px 538px #fff,
        39px 100px #fff, 1145px 1789px #fff, 534px 208px #fff, 44px 1747px #fff,
        579px 1312px #fff, 951px 473px #fff, 295px 538px #fff, 729px 358px #fff,
        1900px 456px #fff, 1652px 133px #fff, 919px 1532px #fff,
        1012px 368px #fff, 619px 606px #fff, 843px 620px #fff, 101px 1043px #fff,
        416px 800px #fff, 42px 841px #fff, 1466px 1267px #fff, 345px 1563px #fff,
        684px 1706px #fff, 288px 2px #fff, 747px 397px #fff, 519px 1405px #fff,
        1313px 748px #fff, 490px 1605px #fff, 278px 1108px #fff,
        1239px 50px #fff, 68px 342px #fff, 746px 441px #fff, 210px 1275px #fff,
        1546px 1983px #fff, 1784px 243px #fff, 303px 1009px #fff,
        516px 397px #fff, 1177px 1988px #fff, 63px 1521px #fff, 15px 824px #fff,
        1578px 517px #fff, 1380px 1208px #fff, 117px 538px #fff,
        1820px 1250px #fff, 1678px 182px #fff, 638px 262px #fff,
        1685px 220px #fff, 1868px 746px #fff, 372px 1108px #fff,
        1981px 666px #fff, 1328px 770px #fff, 890px 1602px #fff,
        308px 475px #fff, 1284px 1770px #fff, 1241px 1552px #fff,
        707px 198px #fff, 1908px 495px #fff, 1614px 559px #fff, 971px 406px #fff,
        1064px 749px #fff, 1383px 1339px #fff, 83px 1144px #fff,
        962px 1580px #fff, 200px 200px #fff, 83px 250px #fff, 485px 914px #fff,
        806px 1335px #fff, 434px 1393px #fff, 118px 1952px #fff,
        460px 1472px #fff, 1388px 17px #fff, 756px 1368px #fff, 157px 989px #fff,
        356px 1597px #fff, 432px 1058px #fff, 797px 1418px #fff,
        1291px 385px #fff, 1182px 1703px #fff, 1041px 695px #fff,
        1019px 43px #fff, 1907px 199px #fff, 1214px 530px #fff,
        1264px 1105px #fff, 1770px 883px #fff, 487px 802px #fff,
        1881px 841px #fff, 76px 535px #fff, 244px 1963px #fff, 1647px 585px #fff,
        1253px 1912px #fff, 368px 901px #fff, 1976px 163px #fff,
        554px 626px #fff, 1706px 748px #fff, 794px 1931px #fff, 576px 388px #fff,
        1289px 1561px #fff, 1450px 651px #fff, 150px 769px #fff,
        222px 1904px #fff, 1565px 538px #fff, 424px 1701px #fff, 489px 27px #fff,
        1551px 49px #fff, 592px 624px #fff, 1077px 1983px #fff,
        1246px 186px #fff, 1162px 120px #fff, 1089px 576px #fff, 3px 1099px #fff,
        338px 1122px #fff, 277px 693px #fff, 312px 1232px #fff,
        1266px 1197px #fff, 1296px 1735px #fff, 1180px 581px #fff,
        589px 141px #fff, 982px 978px #fff, 22px 1843px #fff, 1019px 1352px #fff,
        1322px 1066px #fff, 266px 941px #fff, 655px 637px #fff,
        989px 1602px #fff, 908px 1819px #fff, 180px 8px #fff, 1297px 1441px #fff,
        655px 313px #fff, 750px 860px #fff, 1467px 1570px #fff, 210px 587px #fff,
        1379px 804px #fff, 1064px 519px #fff, 1411px 1328px #fff,
        1932px 1576px #fff, 23px 325px #fff, 256px 1753px #fff, 887px 385px #fff,
        1953px 1090px #fff, 1728px 1740px #fff, 665px 930px #fff,
        794px 273px #fff, 103px 304px #fff, 1882px 1631px #fff, 882px 58px #fff,
        1845px 1798px #fff, 744px 1162px #fff, 1576px 1884px #fff,
        1855px 1651px #fff, 704px 1134px #fff, 429px 1754px #fff,
        471px 330px #fff, 372px 784px #fff, 1452px 1907px #fff,
        1986px 1425px #fff, 1320px 1340px #fff, 1687px 435px #fff,
        1359px 222px #fff, 2px 1248px #fff, 1411px 345px #fff, 608px 1413px #fff,
        119px 330px #fff, 684px 1176px #fff, 102px 769px #fff,
        1715px 1139px #fff, 1065px 1021px #fff, 384px 1250px #fff,
        470px 1059px #fff, 1548px 1970px #fff, 1835px 1871px #fff,
        127px 819px #fff, 1711px 1208px #fff, 1574px 861px #fff,
        358px 1204px #fff, 631px 1832px #fff, 831px 789px #fff, 410px 820px #fff,
        317px 831px #fff, 409px 810px #fff, 1369px 212px #fff, 1120px 440px #fff,
        1924px 1175px #fff, 1474px 569px #fff, 1053px 1233px #fff,
        411px 1135px #fff, 412px 774px #fff, 959px 1599px #fff,
        1063px 1617px #fff, 1992px 1409px #fff, 67px 1993px #fff,
        1550px 1262px #fff, 783px 1503px #fff, 1415px 618px #fff,
        1509px 1306px #fff, 1372px 1737px #fff, 790px 1119px #fff,
        698px 1990px #fff, 191px 1548px #fff, 1614px 1005px #fff,
        310px 517px #fff, 1410px 1488px #fff, 581px 1740px #fff,
        1878px 253px #fff, 11px 1361px #fff, 1814px 479px #fff,
        195px 1665px #fff, 348px 501px #fff, 1452px 389px #fff,
        304px 1511px #fff, 1026px 1275px #fff, 639px 1162px #fff,
        1839px 1651px #fff, 152px 1562px #fff, 1521px 1484px #fff,
        1117px 579px #fff, 1985px 544px #fff, 509px 1516px #fff,
        444px 840px #fff, 1109px 1126px #fff, 706px 1640px #fff, 65px 570px #fff,
        1688px 798px #fff, 573px 1570px #fff, 1970px 94px #fff,
        359px 1501px #fff, 43px 247px #fff, 945px 1604px #fff, 1622px 354px #fff,
        1452px 1976px #fff, 1833px 1943px #fff, 63px 1197px #fff,
        87px 365px #fff, 1522px 722px #fff, 247px 1455px #fff, 142px 1800px #fff,
        1854px 1321px #fff, 60px 792px #fff, 1159px 1798px #fff,
        1631px 662px #fff, 596px 1429px #fff, 1587px 1262px #fff,
        1761px 1158px #fff, 1980px 605px #fff, 1855px 109px #fff,
        1202px 1321px #fff, 1690px 1682px #fff, 669px 353px #fff,
        661px 83px #fff, 1625px 648px #fff, 630px 1930px #fff, 868px 1858px #fff,
        564px 1528px #fff, 1272px 1098px #fff, 733px 434px #fff, 654px 57px #fff,
        1379px 1162px #fff, 388px 425px #fff, 614px 1645px #fff,
        1425px 1949px #fff, 1025px 333px #fff, 163px 943px #fff,
        1941px 453px #fff, 652px 926px #fff, 1553px 962px #fff,
        1442px 340px #fff, 1881px 175px #fff, 555px 917px #fff, 49px 1438px #fff,
        1889px 812px #fff, 1293px 1662px #fff, 814px 986px #fff,
        1330px 1309px #fff, 368px 1996px #fff, 524px 1948px #fff,
        899px 1197px #fff, 647px 458px #fff, 1219px 1365px #fff,
        1073px 459px #fff, 234px 492px #fff, 282px 97px #fff, 562px 163px #fff,
        904px 1073px #fff, 554px 1569px #fff, 24px 581px #fff,
        1775px 1224px #fff, 1101px 1056px #fff, 660px 786px #fff,
        832px 546px #fff, 691px 619px #fff, 838px 1102px #fff, 129px 1102px #fff,
        1038px 471px #fff, 650px 644px #fff, 824px 438px #fff,
        1136px 1145px #fff, 859px 426px #fff, 534px 7px #fff, 688px 1826px #fff,
        938px 1403px #fff, 1584px 1679px #fff, 1244px 765px #fff,
        1807px 606px #fff, 988px 226px #fff, 1082px 1187px #fff,
        1329px 916px #fff, 755px 1912px #fff, 1869px 1173px #fff,
        66px 884px #fff, 1437px 847px #fff, 1468px 1339px #fff,
        1284px 1622px #fff, 984px 1688px #fff, 693px 1581px #fff,
        248px 1079px #fff, 813px 1219px #fff, 1990px 959px #fff,
        1997px 1412px #fff, 1177px 1429px #fff, 1627px 851px #fff,
        1178px 329px #fff;
    }
  }

  .stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1328px 994px #fff, 1969px 1896px #fff, 1992px 741px #fff,
      1192px 35px #fff, 644px 1645px #fff, 1227px 88px #fff, 281px 604px #fff,
      1878px 757px #fff, 1494px 1289px #fff, 272px 1278px #fff, 554px 812px #fff,
      444px 412px #fff, 549px 27px #fff, 715px 1245px #fff, 1858px 1805px #fff,
      594px 1560px #fff, 1683px 1662px #fff, 1349px 700px #fff, 405px 873px #fff,
      346px 275px #fff, 1038px 767px #fff, 816px 1479px #fff, 690px 1715px #fff,
      158px 718px #fff, 823px 1963px #fff, 1986px 212px #fff, 194px 55px #fff,
      1010px 443px #fff, 522px 1213px #fff, 1212px 301px #fff, 685px 1851px #fff,
      1592px 1757px #fff, 786px 853px #fff, 1041px 911px #fff, 1108px 912px #fff,
      547px 279px #fff, 1784px 694px #fff, 1866px 1395px #fff, 83px 563px #fff,
      955px 1086px #fff, 1826px 133px #fff, 212px 143px #fff, 1375px 1968px #fff,
      1818px 1252px #fff, 257px 1275px #fff, 1170px 1637px #fff,
      1569px 721px #fff, 563px 1944px #fff, 924px 1288px #fff, 37px 1718px #fff,
      1509px 99px #fff, 1242px 1269px #fff, 1948px 370px #fff, 736px 1323px #fff,
      885px 1082px #fff, 155px 1386px #fff, 1712px 1216px #fff,
      1656px 991px #fff, 999px 1015px #fff, 1520px 833px #fff, 1425px 703px #fff,
      1366px 249px #fff, 443px 935px #fff, 30px 1088px #fff, 1392px 1756px #fff,
      1522px 1764px #fff, 1516px 1897px #fff, 662px 458px #fff,
      1241px 1134px #fff, 955px 496px #fff, 1559px 92px #fff, 1140px 531px #fff,
      310px 455px #fff, 504px 1731px #fff, 1044px 337px #fff, 1664px 1548px #fff,
      1678px 1699px #fff, 440px 85px #fff, 1341px 1385px #fff, 743px 1361px #fff,
      827px 1036px #fff, 1895px 1375px #fff, 1921px 599px #fff,
      1230px 509px #fff, 1964px 1578px #fff, 399px 5px #fff, 1027px 1909px #fff,
      1796px 1299px #fff, 828px 1270px #fff, 1775px 28px #fff, 670px 1708px #fff,
      426px 953px #fff, 539px 564px #fff, 283px 450px #fff, 1306px 1885px #fff,
      206px 16px #fff, 1557px 951px #fff, 1180px 1214px #fff, 1663px 311px #fff,
      1516px 682px #fff, 661px 1373px #fff, 1259px 1681px #fff, 1045px 26px #fff,
      1666px 1198px #fff, 1470px 1630px #fff, 1883px 530px #fff,
      289px 1598px #fff, 1370px 1844px #fff, 423px 630px #fff, 948px 1712px #fff,
      383px 1013px #fff, 1661px 334px #fff, 970px 1798px #fff, 987px 221px #fff,
      818px 177px #fff, 116px 1144px #fff, 30px 1503px #fff, 71px 510px #fff,
      1692px 676px #fff, 1587px 668px #fff, 1474px 785px #fff, 774px 1966px #fff,
      137px 1837px #fff, 1591px 1923px #fff, 998px 40px #fff, 1916px 1457px #fff,
      1379px 1537px #fff, 936px 1140px #fff, 980px 1256px #fff,
      1294px 673px #fff, 1178px 1217px #fff, 352px 639px #fff, 1865px 502px #fff,
      346px 70px #fff, 1189px 1589px #fff, 1675px 1971px #fff,
      1704px 1182px #fff, 17px 28px #fff, 1912px 1266px #fff, 513px 1066px #fff,
      548px 344px #fff, 454px 333px #fff, 959px 101px #fff, 1711px 1839px #fff,
      462px 295px #fff, 1427px 875px #fff, 1627px 655px #fff, 833px 1126px #fff,
      498px 666px #fff, 138px 1563px #fff, 783px 1640px #fff, 213px 1894px #fff,
      665px 1749px #fff, 130px 1086px #fff, 286px 578px #fff, 1169px 1763px #fff,
      84px 1378px #fff, 334px 339px #fff, 1682px 423px #fff, 1568px 302px #fff,
      1075px 1249px #fff, 451px 899px #fff, 1971px 102px #fff, 1353px 264px #fff,
      885px 824px #fff, 414px 1971px #fff, 532px 553px #fff, 174px 243px #fff,
      1133px 905px #fff, 1703px 1350px #fff, 741px 516px #fff, 550px 606px #fff,
      1411px 1365px #fff, 949px 1060px #fff, 808px 1615px #fff,
      1843px 1133px #fff, 1035px 1px #fff, 552px 528px #fff, 1026px 1621px #fff,
      1177px 1743px #fff, 1922px 1455px #fff, 1306px 915px #fff,
      1428px 860px #fff, 679px 310px #fff, 357px 899px #fff, 693px 1530px #fff,
      1603px 1179px #fff, 1128px 1651px #fff, 936px 1031px #fff,
      1938px 722px #fff, 690px 57px #fff, 1681px 1082px #fff, 1343px 1121px #fff,
      1246px 692px #fff, 227px 1306px #fff, 1399px 372px #fff,
      1599px 1314px #fff, 310px 1901px #fff, 877px 216px #fff, 396px 1324px #fff;
    animation: animStar 100s linear infinite;
    &::after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 1328px 994px #fff, 1969px 1896px #fff, 1992px 741px #fff,
        1192px 35px #fff, 644px 1645px #fff, 1227px 88px #fff, 281px 604px #fff,
        1878px 757px #fff, 1494px 1289px #fff, 272px 1278px #fff,
        554px 812px #fff, 444px 412px #fff, 549px 27px #fff, 715px 1245px #fff,
        1858px 1805px #fff, 594px 1560px #fff, 1683px 1662px #fff,
        1349px 700px #fff, 405px 873px #fff, 346px 275px #fff, 1038px 767px #fff,
        816px 1479px #fff, 690px 1715px #fff, 158px 718px #fff,
        823px 1963px #fff, 1986px 212px #fff, 194px 55px #fff, 1010px 443px #fff,
        522px 1213px #fff, 1212px 301px #fff, 685px 1851px #fff,
        1592px 1757px #fff, 786px 853px #fff, 1041px 911px #fff,
        1108px 912px #fff, 547px 279px #fff, 1784px 694px #fff,
        1866px 1395px #fff, 83px 563px #fff, 955px 1086px #fff,
        1826px 133px #fff, 212px 143px #fff, 1375px 1968px #fff,
        1818px 1252px #fff, 257px 1275px #fff, 1170px 1637px #fff,
        1569px 721px #fff, 563px 1944px #fff, 924px 1288px #fff,
        37px 1718px #fff, 1509px 99px #fff, 1242px 1269px #fff,
        1948px 370px #fff, 736px 1323px #fff, 885px 1082px #fff,
        155px 1386px #fff, 1712px 1216px #fff, 1656px 991px #fff,
        999px 1015px #fff, 1520px 833px #fff, 1425px 703px #fff,
        1366px 249px #fff, 443px 935px #fff, 30px 1088px #fff,
        1392px 1756px #fff, 1522px 1764px #fff, 1516px 1897px #fff,
        662px 458px #fff, 1241px 1134px #fff, 955px 496px #fff, 1559px 92px #fff,
        1140px 531px #fff, 310px 455px #fff, 504px 1731px #fff,
        1044px 337px #fff, 1664px 1548px #fff, 1678px 1699px #fff,
        440px 85px #fff, 1341px 1385px #fff, 743px 1361px #fff,
        827px 1036px #fff, 1895px 1375px #fff, 1921px 599px #fff,
        1230px 509px #fff, 1964px 1578px #fff, 399px 5px #fff,
        1027px 1909px #fff, 1796px 1299px #fff, 828px 1270px #fff,
        1775px 28px #fff, 670px 1708px #fff, 426px 953px #fff, 539px 564px #fff,
        283px 450px #fff, 1306px 1885px #fff, 206px 16px #fff, 1557px 951px #fff,
        1180px 1214px #fff, 1663px 311px #fff, 1516px 682px #fff,
        661px 1373px #fff, 1259px 1681px #fff, 1045px 26px #fff,
        1666px 1198px #fff, 1470px 1630px #fff, 1883px 530px #fff,
        289px 1598px #fff, 1370px 1844px #fff, 423px 630px #fff,
        948px 1712px #fff, 383px 1013px #fff, 1661px 334px #fff,
        970px 1798px #fff, 987px 221px #fff, 818px 177px #fff, 116px 1144px #fff,
        30px 1503px #fff, 71px 510px #fff, 1692px 676px #fff, 1587px 668px #fff,
        1474px 785px #fff, 774px 1966px #fff, 137px 1837px #fff,
        1591px 1923px #fff, 998px 40px #fff, 1916px 1457px #fff,
        1379px 1537px #fff, 936px 1140px #fff, 980px 1256px #fff,
        1294px 673px #fff, 1178px 1217px #fff, 352px 639px #fff,
        1865px 502px #fff, 346px 70px #fff, 1189px 1589px #fff,
        1675px 1971px #fff, 1704px 1182px #fff, 17px 28px #fff,
        1912px 1266px #fff, 513px 1066px #fff, 548px 344px #fff,
        454px 333px #fff, 959px 101px #fff, 1711px 1839px #fff, 462px 295px #fff,
        1427px 875px #fff, 1627px 655px #fff, 833px 1126px #fff,
        498px 666px #fff, 138px 1563px #fff, 783px 1640px #fff,
        213px 1894px #fff, 665px 1749px #fff, 130px 1086px #fff,
        286px 578px #fff, 1169px 1763px #fff, 84px 1378px #fff, 334px 339px #fff,
        1682px 423px #fff, 1568px 302px #fff, 1075px 1249px #fff,
        451px 899px #fff, 1971px 102px #fff, 1353px 264px #fff, 885px 824px #fff,
        414px 1971px #fff, 532px 553px #fff, 174px 243px #fff, 1133px 905px #fff,
        1703px 1350px #fff, 741px 516px #fff, 550px 606px #fff,
        1411px 1365px #fff, 949px 1060px #fff, 808px 1615px #fff,
        1843px 1133px #fff, 1035px 1px #fff, 552px 528px #fff,
        1026px 1621px #fff, 1177px 1743px #fff, 1922px 1455px #fff,
        1306px 915px #fff, 1428px 860px #fff, 679px 310px #fff, 357px 899px #fff,
        693px 1530px #fff, 1603px 1179px #fff, 1128px 1651px #fff,
        936px 1031px #fff, 1938px 722px #fff, 690px 57px #fff,
        1681px 1082px #fff, 1343px 1121px #fff, 1246px 692px #fff,
        227px 1306px #fff, 1399px 372px #fff, 1599px 1314px #fff,
        310px 1901px #fff, 877px 216px #fff, 396px 1324px #fff;
    }
  }

  .stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 670px 1899px #fff, 282px 722px #fff, 1059px 1547px #fff,
      1933px 1956px #fff, 1100px 945px #fff, 1297px 1074px #fff,
      1253px 108px #fff, 1161px 1334px #fff, 90px 276px #fff, 1583px 1019px #fff,
      1499px 429px #fff, 699px 393px #fff, 54px 1494px #fff, 1971px 992px #fff,
      256px 1827px #fff, 1451px 1742px #fff, 1285px 1916px #fff,
      1425px 1231px #fff, 1417px 1288px #fff, 1265px 745px #fff,
      1634px 345px #fff, 194px 1176px #fff, 1596px 1745px #fff,
      814px 1549px #fff, 1499px 489px #fff, 1467px 526px #fff, 518px 473px #fff,
      819px 1717px #fff, 922px 98px #fff, 1506px 35px #fff, 1710px 103px #fff,
      727px 1442px #fff, 1424px 312px #fff, 1229px 518px #fff, 186px 1615px #fff,
      1365px 593px #fff, 1088px 571px #fff, 1889px 429px #fff, 339px 959px #fff,
      1088px 95px #fff, 133px 1604px #fff, 1699px 748px #fff, 1951px 1746px #fff,
      860px 1950px #fff, 827px 1291px #fff, 1645px 1492px #fff,
      1751px 599px #fff, 292px 1607px #fff, 539px 1255px #fff, 1267px 560px #fff,
      243px 1173px #fff, 340px 794px #fff, 409px 1595px #fff, 1688px 961px #fff,
      1519px 1085px #fff, 1021px 102px #fff, 795px 753px #fff, 312px 250px #fff,
      1964px 1906px #fff, 621px 701px #fff, 1933px 1947px #fff, 1690px 21px #fff,
      975px 106px #fff, 936px 847px #fff, 441px 733px #fff, 1220px 293px #fff,
      1705px 259px #fff, 1308px 1062px #fff, 442px 1356px #fff, 65px 259px #fff,
      1159px 677px #fff, 448px 155px #fff, 1703px 597px #fff, 871px 1274px #fff,
      1456px 784px #fff, 729px 1894px #fff, 1018px 1598px #fff, 369px 211px #fff,
      1879px 1298px #fff, 965px 947px #fff, 1887px 716px #fff,
      1056px 1868px #fff, 816px 1614px #fff, 75px 1024px #fff, 947px 950px #fff,
      1525px 1034px #fff, 156px 1872px #fff, 75px 1618px #fff, 1155px 258px #fff,
      1423px 1393px #fff, 1109px 601px #fff, 809px 1967px #fff,
      1163px 1097px #fff, 961px 882px #fff, 1062px 1717px #fff,
      1523px 257px #fff, 1945px 133px #fff, 1277px 551px #fff, 361px 1640px #fff,
      566px 1411px #fff;
    animation: animStar 150s linear infinite;
    &::after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: 670px 1899px #fff, 282px 722px #fff, 1059px 1547px #fff,
        1933px 1956px #fff, 1100px 945px #fff, 1297px 1074px #fff,
        1253px 108px #fff, 1161px 1334px #fff, 90px 276px #fff,
        1583px 1019px #fff, 1499px 429px #fff, 699px 393px #fff,
        54px 1494px #fff, 1971px 992px #fff, 256px 1827px #fff,
        1451px 1742px #fff, 1285px 1916px #fff, 1425px 1231px #fff,
        1417px 1288px #fff, 1265px 745px #fff, 1634px 345px #fff,
        194px 1176px #fff, 1596px 1745px #fff, 814px 1549px #fff,
        1499px 489px #fff, 1467px 526px #fff, 518px 473px #fff,
        819px 1717px #fff, 922px 98px #fff, 1506px 35px #fff, 1710px 103px #fff,
        727px 1442px #fff, 1424px 312px #fff, 1229px 518px #fff,
        186px 1615px #fff, 1365px 593px #fff, 1088px 571px #fff,
        1889px 429px #fff, 339px 959px #fff, 1088px 95px #fff, 133px 1604px #fff,
        1699px 748px #fff, 1951px 1746px #fff, 860px 1950px #fff,
        827px 1291px #fff, 1645px 1492px #fff, 1751px 599px #fff,
        292px 1607px #fff, 539px 1255px #fff, 1267px 560px #fff,
        243px 1173px #fff, 340px 794px #fff, 409px 1595px #fff,
        1688px 961px #fff, 1519px 1085px #fff, 1021px 102px #fff,
        795px 753px #fff, 312px 250px #fff, 1964px 1906px #fff, 621px 701px #fff,
        1933px 1947px #fff, 1690px 21px #fff, 975px 106px #fff, 936px 847px #fff,
        441px 733px #fff, 1220px 293px #fff, 1705px 259px #fff,
        1308px 1062px #fff, 442px 1356px #fff, 65px 259px #fff,
        1159px 677px #fff, 448px 155px #fff, 1703px 597px #fff,
        871px 1274px #fff, 1456px 784px #fff, 729px 1894px #fff,
        1018px 1598px #fff, 369px 211px #fff, 1879px 1298px #fff,
        965px 947px #fff, 1887px 716px #fff, 1056px 1868px #fff,
        816px 1614px #fff, 75px 1024px #fff, 947px 950px #fff,
        1525px 1034px #fff, 156px 1872px #fff, 75px 1618px #fff,
        1155px 258px #fff, 1423px 1393px #fff, 1109px 601px #fff,
        809px 1967px #fff, 1163px 1097px #fff, 961px 882px #fff,
        1062px 1717px #fff, 1523px 257px #fff, 1945px 133px #fff,
        1277px 551px #fff, 361px 1640px #fff, 566px 1411px #fff;
    }
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
