.DropShadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
  @media (min-width:800px) {
  display: none !important;
  }
}

.DropNavBox {
  @media (min-width: 800px) {
    display: none;
  }
  .BurgerBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .Burger {
      all: unset;
      cursor: pointer;
      font-size: 2rem;
      color: var(--text-color);
    }
  }

  .DropMenuNav {
    z-index: 10;
    background: var(--body-color);
    position: fixed;
    width: 60%;
    @media (max-width: 600px) {
      width: 70%;
    }
    top: 0;
    right: -100%;
    bottom: 0;
    overflow-y: auto;
    transition: right 0.5s ease-in-out;
  }
}

@keyframes toRight {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
